<!DOCTYPE html>
<html>
<head>
  <title>Trading</title>

  <%= stylesheet_link_tag 'extjs/resources/css/ext-all-neptune.css', :media => 'all' %>
  <%= stylesheet_link_tag 'application.css', :media => 'all' %>

  <%= requirejs_include_tag %>
  <%= javascript_include_tag 'extjs/ext-all.js' %>
  <%= javascript_include_tag 'app/App.js' %>
</head>
<body>

<%= yield %>

</body>
</html>